:root {
  font-size: 14px;
  text-size-adjust: 100%;

  @media screen and (min-width: 1024px) {
    font-size: 16px;
  }
}

body {
  margin: 0 auto;
  padding: 0;
  max-width: 1400px;
  background-color: $black-med;
  font: 400 1.1rem/1.6 'Gilroy';
  letter-spacing: .01em;
  color: $white;
  box-sizing: border-box;

  @media screen and (min-width: 768px) {
    background-color: $black-light;
  }

  @media screen and (min-width: 1024px) {
    margin-top: 0;
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .app {
    margin: 1.5rem 2rem;
    background-color: $black-med;
    border-radius: $site-br;
    box-shadow: $box-shadow;
  }
}

main {
  display: block;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  transition: all .4s ease;
}

ul,
ol,
p {
  margin: 0;
  padding: 0;
  max-width: 40rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font: normal #{$h1-fs}/1.4 $font-heading-lg;
  letter-spacing: .1rem;
}

h2 {
  font: normal #{$h2-fs}/1.4 $font-heading-lg;
  letter-spacing: .1rem;
  margin-bottom: 1.5rem;
}

h3 {
  font: bold #{$h3-fs}/1.4 $font-heading-sm;
  letter-spacing: .1rem;
  margin-bottom: .5rem;
}

h4 {
  font: bold #{$h4-fs}/1.4 $font-heading-sm;
  letter-spacing: .1rem;
}

h5 {
  font: bold #{$h5-fs}/1.4 $font-heading-sm;
  letter-spacing: .05rem;
}