@font-face {
  font-family: 'DK Drop Dead Gorgeous';
  src: url('assets/fonts/dk-drop-dead-gorgeous.woff2') format('woff2'),
       url('assets/fonts/dk-drop-dead-gorgeous.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('assets/fonts/gilroy-light.woff2') format('woff2'),
       url('assets/fonts/gilroy-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('assets/fonts/gilroy-extra-bold.woff2') format('woff2'),
       url('assets/fonts/gilroy-extra-bold.woff') format('woff');
  font-weight: bold;
  font-style: bold;
}