// Colours
$black: #000000;
$black-med: #121212;
$black-light: #272626;
$white: #f4f4f4;
$grey: #e6e6e6;
$blue: #006aff;

// Typography
$font-heading-lg: 'DK Drop Dead Gorgeous', sans-serif;
$font-heading-sm: 'Gilroy', sans-serif;
$font-body: 'Gilroy Light', sans-serif;

// Font size
$h1-fs: 3.5rem;
$h2-fs: 2.8rem;
$h3-fs: 1.8rem;
$h4-fs: 1.2rem;
$h5-fs: 1.1rem;

// Layout / Spacing
$spacing-xs:  2.4rem;
$spacing-l: 5rem;

// Box Shadow
$box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.4);
$box-shadow--dark: 0 0 30px 0 rgba(0, 0, 0, 0.8);

// Border
$site-br: 1em;