// Colours
$black:#000000;
$white: #ffffff;
$grey: #e6e6e6;

// Typography
$font-heading: 'Barlow Condensed', sans-serif;
$font-body: 'Maven Pro', sans-serif;

// Font size
$h1-fs: 4.2rem;
$h2-fs: 3.5rem;
$h3-fs: 2.25rem;
$h4-fs: 1.4rem;

// Layout / Spacing
$spacing-xs:  2.4rem;
$spacing-l: 5rem;
