.showlist__grid {
  display: grid;
  grid-gap: $spacing-xs $spacing-xs / 3;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}

.showlist__image-wrapper {
  border-radius: .1em;
}

.showlist__image {
  border-radius: inherit;
}

.showlist__title {
  color: $white;
}