.showheader {
  position: relative;
  overflow: hidden;
  border-radius: $site-br $site-br 0 0;
}

.showheader__bg-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: auto;
  transition: opacity 1s ease;
}

.showheader__wrapper {
  padding-top: 5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: inherit;
}

.showheader__visual {
  margin: 0 auto;
  min-width: 100%;
}

.showheader__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: $spacing-xs 0;
}

.showheader__title {
  margin: 1rem 0;
}

.showheader__summary {
  margin-bottom: $spacing-xs / 2;
}

.showheader__btn {
  align-self: flex-start;
}

@media screen and (min-width: 568px) {
  .showheader__visual {
    min-width: 15rem;
  }
}

@media screen and (min-width: 768px) {
  .showheader__wrapper {
    padding-top: 6rem;
    flex-direction: row;
  }

  .showheader {
    background-size: 50% auto;
    background-position: top right;
  }

  .showheader__visual {
    margin: 0;
  }

  .showheader__content {
    margin: 0 0 0 $spacing-l;
  }

  .showheader__summary {
    font-size: .95rem;
  }
}

// Animate on scroll
.out .showheader__bg-image {
  opacity: 0;
}