.showsingle__content {
  display: grid;
  grid-gap: $spacing-xs;
  grid-template-columns: 1fr;

  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
}

.cast__list {
  list-style: none;
}

.cast__item {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.cast__info {
  padding-left: 2rem;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.cast__actor,
.cast__character {
  flex-basis: 0;
}

.cast__actor {
  flex-grow: 2;
}

.cast__character {
  flex-grow: 1;
}


// Show Info

.showinfo {
  margin-bottom: $spacing-xs;
}

.showinfo__list {
  list-style: none;
}

.showinfo_item {
  padding: 1.2rem 0 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba($white, .1);
}

.showinfo__title {
  margin-right: 1rem;
  display: inline-block;
  flex-basis: 0;
  flex-grow: 1;
}

.showinfo__content {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 0;
  flex-grow: 2;
}